.copyright {
   text-align: right;
}

#toTop {
    display: none;
    position: fixed;
    bottom:10px;
    right:0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ced4ce;
    cursor: pointer;
    text-align: center;
}

#upArrow {
    position: absolute;
    left: 24%;
    right: 0;
    bottom: 19%;
    transition:  .3s ease-in-out;
    display:block;
}

#upText {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5px;
    font-size: 12px;
    line-height: 16px;
    display: none;
    transition: .3s ease-in-out;
    -webkit-box-align: center;
    
}